<div>
  
  <div *ngIf="isLoading">Loading...</div>
  <div *ngFor="let boss of listBoss; let isFirst = first">

    <div class="card" style="margin-bottom: 15px" [class.border-dark]="isFirst">
      <div class="card-header">
        <h2>{{boss.name}} <span class="badge badge-secondary">{{boss.time}}:00</span></h2>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
            <countdown [config]="{leftTime: bossTimer(boss.time,boss.day)}">
              <h3 style="color: darkgray;" class="">$!d!day $!h!hr $!m!min $!s!s</h3>
            </countdown>
        </blockquote>
      </div>
    </div>

  </div>

</div>
