<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">World Boss Timer BDO[TH] (Beta)</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <button class="btn btn-lg btn-outline-light" (click)="open(content)">Update</button>
      </ul>
  </div>
</nav>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Update log</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ul>
        <li>*Fied saturday time bug <span class="badge badge-secondary">New</span></li>           
        <li>*Fied sunday time bug </li>   
        <li>*Update database cuz' new record world boss time</li>      
        <li>*Fixed time to 24hr from zero-fomate</li>
      </ul>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
</ng-template>
  